@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", serif;
  background-color: #f4d04e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #ffffff;
  width: 384px;
  height: 522px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 9px 9px;
  border: 1px solid #111111;
}
/* 
section {
  margin-bottom: 20px;
} */
main > section:nth-child(1) {
  margin-bottom: 18px;
}

main > section:nth-child(2) {
  margin-bottom: 22px;
}

main > section:nth-child(1) img {
  border-radius: 10px;
  width: 100%;
}

button {
  margin-bottom: 13px;
  background-color: #f4d04e;
  border: none;
  border: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 4px;
  cursor: pointer;
}

.published-date {
  margin-bottom: 16px;
  font-size: 0.9rem;
  font-weight: 500;
}

h2 {
  margin-bottom: 16px;
  cursor: pointer;
  font-weight: 800;
}

h2:hover {
  color: #f4d04e;
}

.details {
  font-size: 1rem;
  line-height: 25px;
  color: #6b6b6b;
  font-weight: 500;
  /* margin-bottom: 16px; */
}

main > section:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 1px; */
  font-size: 0.9rem;
  font-weight: 500;
}

main > section:nth-child(3) img {
  height: 32px;
}

@media only screen and (max-width: 375px) {
  main {
    width: 327px;
    height: 501px;
    padding: 20px;
  }
}
